<label class="block bg-pallette-secondary-black rounded-lg w-[95%] mx-auto text-white py-2 pl-6 flex justify-between">
    <span class="text-2xl" >@Text</span>
    <input type="checkbox" name="myCheckbox" class="mr-2 form-checkbox-lg">
</label>
@code {
    [Parameter]
    public string Text { get; set; } = "Text";
}
