<footer class="text-gray-300 bg-pallette-primary-black">
    <div class="rounded-md bg-pallette-secondary-black py-6 px-4 flex items-center justify-between">
        <span>&copy; Michal Murin</span>
         <div class="flex gap-4 items-center">
            <p>FRI 2024</p>
            <img src="/Images/ButtonLogo.svg" />
         </div>
        
    </div>
    
</footer>

@code {

}
