@typeparam T

<div class="bg-pallette-secondary-black rounded-lg flex flex-col inputResize:flex-row items-center justify-between text-white py-2 pl-6">
    <p class="text-white text-start mr-4 w-full">@Text:</p>
    <input type=@InputType step=@Step pattern=@Pattern class="inputResize:w-[200px] w-full py-2 px-4 bg-pallette-primary-black hover:bg-gray rounded-md mr-8" @bind="@InputValue" placeholder=@Placeholder @onkeydown="HandleKeyDown" />
</div>

@code {
    /// <summary>
    /// Gets or sets the text to be displayed.
    /// </summary>
    [Parameter]
    public string Text { get; set; } = "Text";

    /// <summary>
    /// Gets or sets the pattern for input validation.
    /// </summary>
    [Parameter]
    public string Pattern { get; set; } = string.Empty;

    /// <summary>
    /// Gets or sets the step value for numeric inputs.
    /// </summary>
    [Parameter]
    public string Step { get; set; } = string.Empty;

    /// <summary>
    /// Gets or sets the type of the input element.
    /// </summary>
    [Parameter]
    public string InputType { get; set; } = "text";

    /// <summary>
    /// Gets or sets the placeholder value.
    /// </summary>
    [Parameter]
    public T Placeholder { get; set; } = default!;

    /// <summary>
    /// Gets or sets the value of the input element.
    /// </summary>
    [Parameter]
    public T Value { get; set; } = default!;

    /// <summary>
    /// Gets or sets the event callback for value changes.
    /// </summary>
    [Parameter]
    public EventCallback<T> ValueChanged { get; set; }

    /// <summary>
    /// Gets or sets the input value.
    /// </summary>
    private T InputValue
    {
        get => Value;
        set
        {
            if (!EqualityComparer<T>.Default.Equals(Value, value))
            {
                Value = value;
                ValueChanged.InvokeAsync(value);
            }
        }
    }

    /// <summary>
    /// Handles the keydown event.
    /// </summary>
    /// <param name="e">The keyboard event arguments.</param>
    private void HandleKeyDown(KeyboardEventArgs e)
    {
        Console.WriteLine($"Key pressed: {e.Key}");
        if (e.Key == "Tab")
        {
            if (InputValue is string tmpValue && tmpValue == "")
                InputValue = Placeholder;
        }
    }
}
