
<div class="block bg-pallette-secondary-black rounded-lg flex items-center justify-between text-white py-2 pl-6">
    <p class="text-white text-2xl mr-4">@Text</p>
    <input type=@InputType class="form-control bg-white hover:bg-gray rounded-md mr-8" @bind="@Value" placeholder=@Placeholder />
</div>

@code {
    [Parameter]
    public string Text { get; set; } = "Text";
    [Parameter]
    public string InputType { get; set; } = "text";
    [Parameter]
    public string Placeholder { get; set; } = string.Empty;

    public string Value { get; set; }
}
