@typeparam T

<div class="bg-pallette-secondary-black rounded-lg flex flex-col inputResize:flex-row items-center justify-between text-white py-2 pl-6">
    <p class="text-white text-start mr-4 w-full">@Text</p>
    <input type=@InputType step=@Step pattern=@Pattern class="inputResize:w-[200px] w-full py-2 px-4 bg-pallette-primary-black hover:bg-gray rounded-md mr-8" @bind="@InputValue" placeholder=@Placeholder @onkeydown="HandleKeyDown" />
</div>

@code {
    [Parameter]
    public string Text { get; set; } = "Text";
    [Parameter]
    public string Pattern { get; set; } = string.Empty;
    [Parameter]
    public string Step { get; set; } = string.Empty;
    [Parameter]
    public string InputType { get; set; } = "text";
    [Parameter]
    public T Placeholder { get; set; } = default!;
    [Parameter]
    public T Value { get; set; } = default!;
    [Parameter]
    public EventCallback<T> ValueChanged { get; set; }

    private T InputValue
    {
        get => Value;
        set
        {
            if (!EqualityComparer<T>.Default.Equals(Value, value))
            {
                Value = value;
                ValueChanged.InvokeAsync(value);
            }
        }
    }

    private void HandleKeyDown(KeyboardEventArgs e)
    {
        Console.WriteLine($"Key pressed: {e.Key}");
        if (e.Key == "Tab")
        {
            if (InputValue is string tmpValue && tmpValue == "")
                InputValue = Placeholder;
        }
    }
}
