<li title=@Text class="h-full py-2 px-2 rounded-lg hover:bg-black transition duration-300 text-white w-full wordWrap:w-20 windowResize:w-14 text-center">
    <a class="flex h-full items-center justify-center" href="@Link">
        <div class="flex flex-col items-center justify-center">
            <i class="text-2xl @Icon"></i>
            <span class="text-xs truncate w-full wordWrap:w-20 windowResize:w-14">@Text</span>
        </div>
    </a>
</li>

@code {
    /// <summary>
    /// Gets or sets the icon for the navigation menu item.
    /// </summary>
    [Parameter]
    public string Icon { get; set; } = "fa-solid fa-house-chimney";

    /// <summary>
    /// Gets or sets the text for the navigation menu item.
    /// </summary>
    [Parameter]
    public string Text { get; set; } = "Domov";

    /// <summary>
    /// Gets or sets the link for the navigation menu item.
    /// </summary>
    [Parameter]
    public string Link { get; set; } = "/";
}
