<div class="bg-pallette-primary-black">
    <nav class="w-full bg-pallette-secondary-black rounded-md">
        <ul class="w-full flex-wrap flex gap-2 justify-between  items-center page-wrapper">
            <MyNavMenuItem Icon="fa-solid fa-house-chimney" Text="Domov" Link="/" />
            <MyNavMenuItem Icon="fa-solid fa-text-height" Text="Formátovanie" Link="formatting" />
            <MyNavMenuItem Icon="fa-solid fa-clipboard-check" Text="Konzistencia" Link="consistency" />
            <MyNavMenuItem Icon="fa-solid fa-spell-check" Text="Pravopis" Link="spelling" />
            @* <MyNavMenuItem Icon="fa-solid fa-chart-simple" Text="Report" Link="report" /> *@
        </ul>
    </nav>
</div>
