@page "/consistency"
@inherits BaseJsPage;

<PageTitle>ConsistencyPage</PageTitle>

<h1>Konzistencia</h1>

Kontrola konzistencie textu, prítomnosť dvojitých medzier, nadväznosť nadpisov, funkčnosť krížových odkazov...
@code {

}