@page "/formatting"
@inherits BaseJsPage;
<PageTitle>Formatting</PageTitle>

<h1>Formátovanie</h1>
Kontrola formátovania dokumentu podľa zvolených štandardov
<p role="status">Current word count: @_currentCount</p>

<button class="btn btn-primary" @onclick="GetWordInfo">Check number of words</button>