@page "/formatting"
@inherits BaseJsPage;
<PageTitle>Formatting</PageTitle>

<div class="flex flex-col gap-6 py-8 ">
    <DocumentChecker.Components.MyTextBox Header="Formátovanie" Description="Kontrola formátovania dokumentu podľa zvolených štandardov" Path="formatting" />
    <div class="flex-row gap-16 flex justify-between">
        <DocumentChecker.Components.MyButton ButtonContent="Import" Icon="fa-solid fa-file-import" OnClick=OnImportClick />
        <InputFile id="filePicker" OnChange="ImportFile" hidden accept=".txt" />
        <DocumentChecker.Components.MyButton ButtonContent="Export" Icon="fa-solid fa-file-export" OnClick="OnExportClick" />
    </div>
    <DocumentChecker.Components.MyInput Text="Veľkosť textu" InputType="number" Placeholder="12" />
    <DocumentChecker.Components.MyInput Text="Riadkovanie" InputType="number" Placeholder="1.5" />
    <DocumentChecker.Components.MyInput Text="Okraj" InputType="number" Placeholder="4" />
    <DocumentChecker.Components.MyInput Text="Font" InputType="text" Placeholder="Times New Roman" />
    <DocumentChecker.Components.MyButton ButtonContent="ŠTART" Icon="fa-solid fa-play" Classes="w-48" OnClick="OnStartClick" />
</div>
