@page "/"

<PageTitle>Home</PageTitle>

<div class="flex flex-col gap-6 py-8">
    <DocumentChecker.Components.MyTextBox Header="Formátovanie" Description="Kontrola formátovania dokumentu podľa zvolených štandardov" Path="formatting"/>
    <DocumentChecker.Components.MyTextBox Header="Konzistencia" Description="Kontrola konzistencie textu, prítomnosť dvojitých medzier, nadväznosť nadpisov, funkčnosť krížových odkazov..." Path="consistency" />
    <DocumentChecker.Components.MyTextBox Header="Pravopis" Description="Kontrola vybraného pravopisného javu" Path="spelling" />
    <DocumentChecker.Components.MyTextBox Header="Report" Description="Generovanie reportov" Path="report" />
</div>
