@page "/report"
@inherits BaseJsPage;

<PageTitle>ReportPage</PageTitle>
<div class="flex flex-col gap-6 py-8 ">
    <MyTextBox Header="Report" Description="Generovanie reportov" Path="reprot" />
    <MyCheckbox Id="errors-stats" Text="Početnosť chýb" />
    <MyCheckbox Id="words-stats" Text="Početnosť slov" />
    <MyCheckbox Id="images-stats" Text="Početnosť obrázkov" />
    <MyCheckbox Id="tables-stats" Text="Početnosť tabuliek" />
    <MyButton ButtonContent="ŠTART" Icon="fa-solid fa-play" Classes="w-48" OnClick="OnStartClick" />
</div>
