@page "/report"
@inherits BaseJsPage;

<PageTitle>ReportPage</PageTitle>
<div class="flex flex-col gap-6 py-8 ">
    <DocumentChecker.Components.MyTextBox Header="Report" Description="Generovanie reportov" Path="reprot" />
    <DocumentChecker.Components.MyCheckbox Text="Početnosť chýb" />
    <DocumentChecker.Components.MyCheckbox Text="Početnosť slov" />
    <DocumentChecker.Components.MyCheckbox Text="Početnosť obrázkov" />
    <DocumentChecker.Components.MyCheckbox Text="Početnosť tabuliek" />
    <DocumentChecker.Components.MyButton ButtonContent="ŠTART" Icon="fa-solid fa-play" Classes="w-48" OnClick="OnStartClick" />
</div>
