@page "/spelling"
@inject NavigationManager NavigationManager
@inherits BaseJsPage;

<PageTitle>SpellingPage</PageTitle>
<div class="flex flex-col gap-6 py-8">
    <DocumentChecker.Components.MyTextBox Header="Pravopis" Description="Kontrola vybraného pravopisného javu" Path="spelling" />
    <DocumentChecker.Components.MyButton ButtonContent="Nahrajte pravidlo" Icon="fa-solid fa-file-import" OnClick="@OpenNewRulePage" />
    <DocumentChecker.Components.MyCheckbox Text="Kontrola predložiek s/z, so/zo" @bind-Checked="@SpellingPageDataService.CheckPrepositions" Description="Kontrola správnosti použitia predložiek v texte." />
    <DocumentChecker.Components.MyCheckbox Text="Kontrola pomocou LanguageTool" @bind-Checked="@SpellingPageDataService.CheckLanguageTool" Description="Kontrola textu pomocou nástroja LanguageTool." />
    <DocumentChecker.Components.MyButton ButtonContent="ŠTART" Icon="fa-solid fa-play" Classes="w-48" OnClick="OnStartClick" />
</div>

