@page "/result"
<PageTitle>ResultPage</PageTitle>

<div class="flex flex-col gap-6 py-8 ">
    <MyTextBox Header=@Header Description=@TextResult Path="#" />
    @if (DataService.IsError)
    {
        <MyAlert ErrorText="@DataService.ErrorMessage" Header="Error" />
    }
    @if (DataService.FoundErrors.Count > 0)
    {
        <MyListBox Header="Nájdené chyby" Items="@DataService.FoundErrors" />        
    }
    <div class="gap-4 flex buttonResize:flex-row flex-col justify-end">
        <MyButton ButtonContent="Ignoruj" Icon="fa-solid fa-minus" OnClick=OnIgnoreClick />
        <MyButton ButtonContent="Oprav" Icon="fa-solid fa-wrench" OnClick="OnCorrectClick" />
    </div>
</div>
