@inherits LayoutComponentBase
<h1 class="pl-6 text-2xl py-2 bg-pallette-primary-black text-white tracking-wide">
    Kontrola dokumentu
</h1>
<NavMenu />
<main class="bg-pallette-primary-black">
    <div class="page-wrapper min-h-screen">
        @Body
    </div>
</main>

